@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

body {
    text-align: center;
    background: linear-gradient(to bottom right, #36c8f5, #ffffff);
    min-height: 100vh;
}

main {
    display: inline-block;
}

.pokedex {
    max-width: 100vw;
}